html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    margin:0;
    padding:0;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}

/* Body Styling */
body{
    width: 100vw;
    overflow-x: hidden;
    background-color: #F3EDE6;
}

#overlay{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#232b32d5, #232b3200 30%);
    mix-blend-mode: multiply;
    z-index: 2;
    position: absolute;
}

#bottom_overlay{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(243, 237, 230, 0) 80%, #F3EDE6);
    z-index: 2;
    position: absolute;
}

#landing{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: relative;
}

header{
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    padding-top: 2vh;
    position: absolute;
    z-index: 3;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#logo{
    width: 12vw;
    height: 10vh;
    align-self: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 3;
    padding-bottom: 12vh;
}

#logo img{
    width: 11vw;
    margin-bottom: 2vh;
}

#figures{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#figures img{
    width: 200px;
}

section{
    width: 100%;
    height: 50vh;
}

/* Font Styling */
h1{
    font-family: 'Blackside';
    margin-left: 8vw;
    letter-spacing: .25em;
    font-size: 5em;
    color: white;
}

h2{
    font-family: 'Blackside';
    letter-spacing: .05em;
    font-size: 3em;
    color: white;
}

section h2{
    line-height: 2em;
    padding-left: 10vw;
    width: 100%
}

p{
    font-family: 'Open Sans', sans-serif; 
    font-size: 2em;
    color: #232b32;
    line-height: 1.5em;
    padding-top: 3vh;
}

section p{
    width: 80%;
    margin: auto;
}

.nav_title{
    transition:all .3s ease-in-out;
}

.nav_title:hover{
    font-size: 3.5em;
}

#water_nav:hover{
    color: #5ACFC9;
}

#fire_nav:hover{
    color: #F3533A;
}

#earth_nav:hover{
    color: #BAD879;
}

#air_nav:hover{
    color: #FA9F42;
}