
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#232b32, #0d1216);
    overflow: hidden;
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    padding-top: 4vh;
}

#nations{
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

#box{
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nationBox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 1vmax;
    flex-wrap: wrap;
}

img{
    width: 5vmax;
    transition: all .3s ease-in-out;
}

#waterBox{
    box-shadow: inset 0 0 0 100vmax rgba(90, 207, 201, .4);
    background-image:url('../img/antarcticaiceberg.jpg');
    background-size: cover;
    background-position: center;
}

#earthBox{
    box-shadow: inset 0 0 0 100vmax rgba(186, 216, 181, .4);
    background-image:url('../img/pinkmountain.jpg');
    background-size: cover;
    background-position: center;
}

#fireBox{
    box-shadow: inset 0 0 0 100vmax rgba(243, 83, 58, .4);
    background-image:url('../img/volcano.jpeg');
    background-size: cover;
    background-position: 60% 100%;
}

#airBox{box-shadow: inset 0 0 0 100vmax rgba(250, 159, 66, .4);
    background-image:url('../img/temple.jpg');
    background-size: cover;
    background-position: center;
}

#waterBox, #earthBox, #fireBox, #airBox{
    transition: all .3s ease-in-out;
}

#waterBox:hover, #earthBox:hover, #fireBox:hover, #airBox:hover{
    box-shadow: inset 0 0 0 100vmax rgba(0,0,0,0);
}

#waterBox:hover img, #earthBox:hover img, #fireBox:hover img, #airBox:hover img{
    transform: scale(1.5);
}

#waterBox:hover h2, #earthBox:hover h2, #fireBox:hover h2, #airBox:hover h2{
    transform: scale(1.5);
    padding-top: 2vmax;
    color:white;
}

/* Text Styling */
 h1{
    font-family: 'Blackside';
    letter-spacing: .25em;
    font-size: 3vmax;
    color: white;
    transition: all .3s ease-in-out;
 }

 h2{
    font-family: 'Blackside';
    letter-spacing: .2em;
    color: rgb(0,0,0,0);
    font-size: 1vmax;
    width: 100%;
    text-align: center;  
    padding-top: 1vmax;      
    transition: all .3s ease-in-out; 
 }

 a{
    text-decoration: none;
    width: 24%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 1vmax;
    flex-wrap: wrap;
 }
